Semester1/Lab2/data.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="years">
    <xs:restriction base="xs:integer">
      <xs:minInclusive value="0"/>
	  <xs:maxInclusive value="100"/>
    </xs:restriction>
  </xs:simpleType>
  
  <xs:element name="Dance">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="DanceGroup">
          <xs:complexType>
            <xs:sequence>
			  <xs:element name="Type">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Ballet"/>
						<xs:enumeration value="Folk"/>
						<xs:enumeration value="Pop"/>
						<xs:enumeration value="East"/>
					</xs:restriction>
				</xs:simpleType>
			  </xs:element>
			  <xs:element name="Scene">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Auditorium"/>
						<xs:enumeration value="Street"/>
						<xs:enumeration value="Television"/>
					</xs:restriction>
				</xs:simpleType>
			  </xs:element>
			  <xs:element name="NumberOfDancers">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Mass"/>
						<xs:enumeration value="Solo"/>
						<xs:enumeration value="Pair"/>
					</xs:restriction>
				</xs:simpleType>
			  </xs:element>
			  <xs:element name="Music">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Phonogram"/>
						<xs:enumeration value="Live"/>
					</xs:restriction>
				</xs:simpleType>
			  </xs:element>
              <xs:element name="Dancers">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element maxOccurs="unbounded" name="Dancer">
						<xs:complexType>
							<xs:sequence>
							<xs:element name="Name" type="xs:string"/>
							<xs:element name="Age" type = "years"/>
							<xs:element name="ExperienceYears" type = "years"/>
							</xs:sequence>
						</xs:complexType>
					</xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
			  
			  <xs:element name="Number">
				<xs:simpleType>
					<xs:restriction base="xs:integer">
						<xs:minInclusive value="0"/>
					</xs:restriction>
				</xs:simpleType>
			  </xs:element>
			  
            </xs:sequence>
			<xs:attribute name="id" type="xs:long"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>